<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button>send</button>
    <p id="token">token:</p>

	<script type="application/javascript">

		fetch('/test')

	</script>
</body>
  

</html>
